<div class="flipcard-wrapper">
  <div class="flip-card">
    <div class="flip-card-inner">
      <!-- Front of Card -->
      <div class="flip-card-front">
        <p class="heading_8264">MASTERCARD</p>

        <!-- Logo -->
        <svg class="logo" xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 48 48">
          <path fill="#ff9800" d="M32 10A14 14 0 1 0 32 38A14 14 0 1 0 32 10Z"></path>
          <path fill="#d50000" d="M16 10A14 14 0 1 0 16 38A14 14 0 1 0 16 10Z"></path>
          <path fill="#ff3d00" d="M18,24c0,4.755,2.376,8.95,6,11.48c3.624-2.53,6-6.725,6-11.48s-2.376-8.95-6-11.48 C20.376,15.05,18,19.245,18,24z"></path>
        </svg>

        <!-- Chip -->
        <svg class="chip" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 50 50">
          <circle cx="25" cy="25" r="25" fill="#ccc"></circle>
        </svg>

        <!-- Contactless -->
        <svg class="contactless" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 50 50">
          <circle cx="25" cy="25" r="10" fill="#fff"></circle>
        </svg>

        <!-- Card Number -->
        <p class="number">9759 2484 5269 6576</p>

        <!-- Valid Thru and Date -->
        <p class="valid_thru">VALID THRU</p>
        <p class="date_8264">12/24</p>

        <!-- Cardholder Name -->
        <p class="name">Rasul Ahmed Khan</p>
      </div>

      <!-- Back of Card -->
      <div class="flip-card-back">
        <div class="strip"></div>
        <div class="mstrip"></div>
        <div class="sstrip">
          <p class="code">***</p>
        </div>
      </div>
    </div>
  </div>
</div>
