<!-- <div class="card dark-theme">
  <p-dataview #dv [value]="employees()" [sortField]="sortField" [sortOrder]="sortOrder">

    <ng-template #header>
      <div class="header flex flex-col md:flex-row md:justify-between gap-2">
        <p-select
          [options]="sortOptions"
          [(ngModel)]="sortKey"
          placeholder="Sort by Status"
          (onChange)="onSortChange($event)"
          class="sort-dropdown"
        ></p-select>
      </div>
    </ng-template>

    <ng-template #list let-items>
      <div class="grid grid-cols-12 gap-4">
        <div class="col-span-12" *ngFor="let employee of items; let first = first">
          <div class="employee-card flex flex-col sm:flex-row items-center p-4 gap-4"
               [ngClass]="{ 'border-t border-surface-200 dark:border-surface-700': !first }">

            <div class="employee-image relative">
              <img [src]="employee.imageUrl" [alt]="employee.name" class="employee-img" />
              <p-tag [value]="employee.status" [severity]="getSeverity(employee)" class="employee-tag"></p-tag>
            </div>

            <div class="employee-details flex flex-col sm:flex-row justify-between flex-1 gap-4">
              <div class="info flex flex-col gap-1">
                <span class="position">{{ employee.position }}</span>
                <h3 class="name">{{ employee.name }}</h3>
                <span class="date">{{ employee.date | date:'mediumDate' }}</span>
              </div>
              <div class="contact flex flex-col sm:items-end gap-1">
                <span class="email">{{ employee.email }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </p-dataview>
</div> -->
