<p-toast />
<div class="card flex justify-center">
    <form [formGroup]="exampleForm" (ngSubmit)="onSubmit()" class="flex flex-col gap-4">
        <div class="flex flex-col gap-1">
            <p-togglebutton name="consent" formControlName="checked" [ngClass]="{'ng-invalid': isInvalid('checked')}" onLabel=" All" offLabel="Reject All" />
            @if (isInvalid('checked')) {
                <p-message severity="error" size="small" variant="simple">Consent is mandatory.</p-message>
            }
        </div>
        <button pButton type="submit"><span pButtonLabel>Submit</span></button>
    </form>
</div>
