<div id="form-ui">
  <form id="form">


    <div id="form-body">
      <div id="welcome-lines">
        <div id="welcome-line-1">OTP Verification</div>
        <div id="welcome-line-2">Please enter the code we have sent you.</div>
      </div>

      <div class="inputs" id="input-area">
        <input placeholder="" type="tel" maxlength="1">
        <input placeholder="" type="tel" maxlength="1">
        <input placeholder="" type="tel" maxlength="1">
        <input placeholder="" type="tel" maxlength="1">
      </div>

      <a id="submit-button" href="#">Verify</a>

      <p class="resend">You don't receive the code? <a class="resend-action" href="#">Resend</a></p>
    </div>
  </form>
</div>
