<div class="card flex justify-content-center">
    <p-accordion value="0">
        <p-accordion-panel value="0">
            <p-accordion-header>
                <ng-template #toggleicon let-active="active">
                    @if (active) {
                        <i class="pi pi-minus"></i>
                    } @else {
                        <i class="pi pi-plus"></i>
                    }
                </ng-template>
                <span class="flex items-center gap-2 w-full">
                    <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" shape="circle" />
                    <span class="font-bold whitespace-nowrap">Amy Elsner</span>
                    <p-badge  class="ml-auto mr-2" />
                </span>
            </p-accordion-header>
            <p-accordion-content>
                <p class="m-0">
            “Their attention to detail and commitment to deadlines impressed us deeply. Our project was delivered flawlessly and ahead of schedule.”
                </p>
            </p-accordion-content>
        </p-accordion-panel>
        <p-accordion-panel value="1">
            <p-accordion-header>
                <ng-template #toggleicon let-active="active">
                    @if (active) {
                        <i class="pi pi-minus"></i>
                    } @else {
                        <i class="pi pi-plus"></i>
                    }
                </ng-template>
                <span class="flex items-center gap-2 w-full">
                    <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/onyamalimba.png" shape="circle" />
                    <span class="font-bold whitespace-nowrap">Onyama Limba</span>
                    <p-badge  class="ml-auto mr-2" />
                </span>
            </p-accordion-header>
            <p-accordion-content>
                <p class="m-0">
                   “We saw a 40% improvement in customer engagement after implementing their solution. Highly recommend their expertise.”
                </p>
            </p-accordion-content>
        </p-accordion-panel>
        <p-accordion-panel value="2">
            <p-accordion-header>
                <ng-template #toggleicon let-active="active">
                    @if (active) {
                        <i class="pi pi-minus"></i>
                    } @else {
                        <i class="pi pi-plus"></i>
                    }
                </ng-template>
                <span class="flex items-center gap-2 w-full">
                    <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/ionibowcher.png" shape="circle" />
                    <span class="font-bold whitespace-nowrap">Ioni Bowcher</span>
                    <p-badge class="ml-auto mr-2" />
                </span>
            </p-accordion-header>
            <p-accordion-content>
                <p class="m-0">
                  “The team went above and beyond to understand our business goals. Their service quality exceeded expectations.”
                </p>
            </p-accordion-content>
        </p-accordion-panel>
    </p-accordion>
</div>
