@use '@angular/material' as mat;
// @use '@nebular/theme/styles/theming' as *;
// @use '@nebular/theme/styles/themes/dark' as dark;

/* Global styles */
html,
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color-scheme: light;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
}
// /* Importing Bootstrap SCSS file. */
// @import 'bootstrap/scss/bootstrap';
