<div class="card flex justify-center">
   <p-accordion value="0">
        <p-accordion-panel value="0">
            <p-accordion-header>Company History</p-accordion-header>
            <p-accordion-content>
                <p class="m-0">
                 SBMS: Authentic Campaigns with Measurable Ingredients for your business .

                  Founded on the principle of delivering reliable, high-quality, and deeply satisfying results, Student Marketing Solutions (SBMS) began its journey not in a garage, but with a philosophy rooted in the timeless excellence of a service across industries. Our ethos—uncompromising quality and flavor consistency—is now applied to brand messaging and market engagement strategies.

                  Headquartered in the Silicon Oasis of Dubai, SBMS is an agile, globally-minded Marketing Consulting and Creative Services firm. We specialize in transforming complex market challenges into simple, digestible consumer strategies. We believe every brand message should be as perfectly crafted as a grained and provide crisp information to vendors distinct, yet harmoniously blended. Our client list spans from global Real estate franchises like Damac, Randomstudio,etc.

                </p>
            </p-accordion-content>
        </p-accordion-panel>

        <p-accordion-panel value="1">
            <p-accordion-header>Products and services </p-accordion-header>
            <p-accordion-content>
                <p class="m-0">
                   SBMS offers a meticulously crafted suite of services that functions as a comprehensive "menu" for modern marketing needs. Our Biryani (Big Data) Insights service is the foundation, turning raw market data into deeply insightful, aromatic consumer understanding through tools like the 'Aroma' Predictive Model for real-time campaign optimization. For building a compelling narrative, our Karahi (Content) Development team designs and implements scalable, engaging, and robust strategies, ensuring all brand narratives are "cooked to perfection" across channels, from SEO to video production. Furthermore, the BBQ (Brand) Activation & PR department provides "grilled-to-perfection" public relations and experiential marketing, generating unparalleled market buzz through influencer outreach and crisis communication planning.
                </p>
            </p-accordion-content>
        </p-accordion-panel>

        <p-accordion-panel value="2">
            <p-accordion-header>Awards and recognitions</p-accordion-header>
            <p-accordion-content>
                <p class="m-0">
                      SBMS is widely celebrated for its commitment to Creative Authenticity and achieving demonstrable client impact, a fact underscored by several prestigious recognitions. We were honored with the GCC Marketing Excellence Award in Q3 2025 for an integrated campaign that utilized our 'Aroma' Predictive Model, achieving a 300% ROI for a major retail client. This was closely followed by being named the 'Best Creative Agency for FMCG' by The Brand Strategy Institute in Q4 2024 for developing a series of engaging, culturally-relevant short-form video content that dominated regional social media feeds. In the public sector, we were recognized as a Digital Engagement Pioneer - MENA in Q2 2023 for leading high-impact government awareness campaigns.
                </p>
            </p-accordion-content>
        </p-accordion-panel>
    </p-accordion>
</div>
